* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-container {
  position: relative;
  width: 100%;
  height: 200px;
}
.swiper-wrapper {
  width: 700%;
  height: 100%;
}
.swiper-slide {
  float: left;
  width: 375px;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 80px;
  height: 8px;
}

.pagination span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.pagination span.active {
  background-color: #fff;
}
