<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>08_表单输入绑定</title>
  </head>
  <body>
    <!--
    1. 使用v-model(双向数据绑定)自动收集数据
      text/textarea
      checkbox
      radio
      select
    -->
    <div id="demo">
      <form action="/xxx">
        <span>用户名: </span>
        <input type="text" v-model="username" />
        <br />

        <span>密码: </span>
        <input type="password" v-model="password" />
        <br />

        <span>性别: </span>
        <input type="radio" id="female" v-model="sex" value="1" />
        <label for="female">女</label>
        <input type="radio" id="male" v-model="sex" value="2" />
        <label for="male">男</label>
        <br />

        <span>爱好: </span>
        <input type="checkbox" id="basket" v-model="hobby" value="basketball" />
        <label for="basket">篮球</label>
        <input type="checkbox" id="foot" v-model="hobby" value="football" />
        <label for="foot">足球</label>
        <input type="checkbox" id="pingpang" v-model="hobby" value="pingpong" />
        <label for="pingpang">乒乓</label>
        <br />

        <span>城市: </span>
        <!-- 
          当你选中option时，如果option设置了value属性，那么select收集到的就是value属性
          如果没有value属性，那么select收集到的就是option里面的内容
        -->
        <select v-model="city">
          <option value="">未选择</option>
          <option v-for="city in cities" :key="city.id" :value="city.id">
            {{city.name}}
          </option>
        </select>
        <br />

        <span>介绍: </span>
        <textarea rows="10" v-model="intro"></textarea>
        <br />
        <br />

        <input type="submit" value="注册" @click.prevent="register" />
      </form>
    </div>

    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
      new Vue({
        el: "#demo",
        data: {
          username: "",
          password: "",
          sex: 1,
          hobby: [],
          cities: [
            { id: 1, name: "深圳" },
            { id: 2, name: "北京" },
            { id: 3, name: "上海" },
          ],
          city: "",
          intro: "",
        },
        methods: {
          register() {
            // 收集数据
            const { username, password, sex, hobby, city, intro } = this;
            // 表单校验
            // 发送请求
            console.log(username, password, sex, hobby, city, intro);
          },
        },
      });
    </script>
  </body>
</html>
