<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>component</title>
  </head>
  <body>
    <div id="test1"></div>
    <div id="test2"></div>
    <script src="./js/react.development.js"></script>
    <script src="./js/react-dom.development.js"></script>
    <script src="./js/babel.min.js"></script>
    <script type="text/babel">
      /*
        定义组件的两种方式：
          1. 工厂函数组件（简单组件）
          2. ES6类组件（复杂组件）

        定义组件的注意事项：
          1. 组件首字母必须大写（大驼峰命名法）
          2. 组件标签/元素必须有结束符
            双标签 (如果元素内部有子内容)
            单标签（必须有结束符） (如果元素内部没有子内容)
          3. 组件要渲染的元素必须有且有一个根元素/节点
      */

      // 1. 工厂函数组件（简单组件）
      function MyComponent1() {
        // 组件内部渲染的元素
        // return <h1>工厂函数组件</h1>;
        return (
          <div>
            <input />
            <input />
          </div>
        );
      }

      // 使用组件/渲染组件
      ReactDOM.render(<MyComponent1 />, document.getElementById("test1"));

      // 2. ES6类组件（复杂组件）
      class MyComponent2 extends React.Component {
        render() {
          // 组件内部渲染的元素
          return <h1>ES6类组件</h1>;
        }
      }

      ReactDOM.render(<MyComponent2 />, document.getElementById("test2"));
    </script>
  </body>
</html>
